@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
/* Base style */
* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #333;
}

*::before,
*::after {
  box-sizing: border-box;
}
